* {
  user-select: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
}

body {
  padding: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

#title:hover {
  color: blue;
}

#subtitle {
  color: gray;
  font-size: small;
  font-weight: bold;
  margin-left: 1em;
}

main {
  margin-top: 0.5em;
}

select {
  padding: 0.25em;
  border: 1px solid grey;
  background-color: inherit;
}

#swap {
  flex-grow: 1;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

main > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > div:nth-child(2) {
  margin-top: 0.25em;
  display: flex;
  flex-direction: column;
}

main > div:nth-child(2) > span {
  font-size: small;
  font-weight: bold;
}

#reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

#textbox {
  min-width: 100%;
  max-width: 500px;
  min-height: 100px;
  max-height: 300px;
  padding: 0.25em;
  font-size: small;
  font-family: inherit;
}

main > div:last-child {
  margin-top: 0.25em;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

#convert {
  width: 100%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-weight: bold;
}

label[for="auto"] {
  font-size: small;
}

footer {
  margin-top: 0.5em;
  font-size: x-small;
  text-align: center;
}
